src/main/resources/org/springframework/data/gemfire/config/spring-gemfire-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.springframework.org/schema/gemfire"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.springframework.org/schema/gemfire"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[
            Namespace support for the Spring GemFire project.
        ]]></xsd:documentation>
    </xsd:annotation>
    
    <xsd:element name="cache">
		<xsd:annotation>
			<xsd:documentation source="org.springframework.data.gemfire.CacheFactoryBean"><![CDATA[
Defines a GemFire Cache instance used for creating or retrieving 'regions'.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.gemstone.gemfire.cache.Cache" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
The name of the cache definition (by default "gemfire-cache").]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="cache-xml-location" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation source="org.springframework.core.io.Resource"><![CDATA[
The location of the GemFire cache xml file, as a Spring resource location: a URL, a "classpath:" pseudo URL,
or a relative file path.
							]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="properties-ref" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation source="java.util.Properties"><![CDATA[
The bean name of a Java Properties object that will be used for property substitution. For loading properties
consider using a dedicated utility such as the <util:*/> namespace and its 'properties' element.
							]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<!-- nested bean definition -->
	<xsd:complexType name="beanDeclarationType">
		<xsd:sequence>
			<xsd:any namespace="##other" minOccurs="0" maxOccurs="1" processContents="skip">
    			<xsd:annotation>
         			<xsd:documentation><![CDATA[
Inner bean definition of the cache loader. The nested declaration serves as an alternative to bean references (using 
both in the same definition) is illegal.
					]]></xsd:documentation>
				</xsd:annotation>
         	</xsd:any>						
		</xsd:sequence>
		<xsd:attribute name="ref" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the cache loader bean referred by this declaration. If no reference exists, use an inner bean declaration.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="readOnlyRegionType" abstract="true">
		<xsd:sequence>
			<xsd:element name="cache-listener" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation source="com.gemstone.gemfire.cache.CacheListener"><![CDATA[
A cache listener definition for this region. A cache listener handles region or entry related events (that occur after
various operations on the region). Multiple listeners can be declared in a nested manner.

Note: Avoid the risk of deadlock. Since the listener is invoked while holding a lock on the entry generating the event,
it is easy to generate a deadlock by interacting with the region. For this reason, it is highly recommended to use some
other thread for accessing the region and not waiting for it to complete its task.
					]]></xsd:documentation>
					<xsd:appinfo>
						<tool:annotation>
							<tool:exports type="com.gemstone.gemfire.cache.CacheListener"/>
						</tool:annotation>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="skip">
			    			<xsd:annotation>
			         			<xsd:documentation><![CDATA[
Inner bean definition of the cache listener.
								]]></xsd:documentation>
							</xsd:annotation>
			         	</xsd:any>						
					</xsd:sequence>
					<xsd:attribute name="ref" type="xsd:string" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The name of the cache listener bean referred by this declaration. Used as a convenience method. If no reference exists, 
use inner bean declarations.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The id of the region bean definition.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the region definition. If no specified, it will have the value of the id attribute (that is, the bean name).
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="cache-ref" type="xsd:string" default="gemfire-cache" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The name of the bean defining the GemFire cache (by default 'gemfire-cache').
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute> 
	</xsd:complexType>
	
	<xsd:complexType name="regionType">
		<xsd:complexContent>
			<xsd:extension base="readOnlyRegionType">
				<xsd:sequence>
					<xsd:element name="cache-loader" minOccurs="0"  maxOccurs="1" type="beanDeclarationType">
						<xsd:annotation>
							<xsd:documentation source="com.gemstone.gemfire.cache.CacheLoader"><![CDATA[
The cache loader definition for this region. A cache loader allows data to be placed into a region.
							]]></xsd:documentation>
							<xsd:appinfo>
								<tool:annotation>
									<tool:exports type="com.gemstone.gemfire.cache.CacheLoader"/>
								</tool:annotation>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cache-writer" minOccurs="0" maxOccurs="1" type="beanDeclarationType">
						<xsd:annotation>
							<xsd:documentation source="com.gemstone.gemfire.cache.CacheWriter"><![CDATA[
The cache writer definition for this region. A cache writer acts as a dedicated synchronous listener that is notified
before a region or an entry is modified. A typical example would be a writer that updates the database.

Note: Only one CacheWriter is invoked. GemFire will always prefer the local one (if it exists) otherwise it will
arbitrarily pick one.
							]]></xsd:documentation>
							<xsd:appinfo>
								<tool:annotation>
									<tool:exports type="com.gemstone.gemfire.cache.CacheWriter"/>
								</tool:annotation>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="replicated-region">
		<xsd:annotation>
			<xsd:documentation source="org.springframework.data.gemfire.RegionFactoryBean"><![CDATA[
Defines a GemFire replicated region instance. Each replicated region contains a complete copy of the data.
As well as high availability, replication provides excellent performance as each region contains a complete,
up to date copy of the data.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.gemstone.gemfire.cache.Region" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="regionType">
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="partitioned-region">
		<xsd:annotation>
			<xsd:documentation source="org.springframework.data.gemfire.RegionFactoryBean"><![CDATA[
Defines a GemFire partitioned region instance. Through partitioning, the data is split across regions.
Partitioning is useful when the amount of data to store is too large for one member to hold and work
with as if it were a single entity. One can configure the partitioned region to store redundant copies
in different members, for high availability in case of an application failure.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.gemstone.gemfire.cache.Region" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="regionType">
					<xsd:sequence>
						<xsd:element name="partition-resolver" minOccurs="0" maxOccurs="1" type="beanDeclarationType">
							<xsd:annotation>
								<xsd:documentation source="com.gemstone.gemfire.cache.PartitionResolver"><![CDATA[
The partition resolver definition for this region, allowing for custom partitioning. GemFire uses the resolver to
colocate data based on custom criterias (such as colocating trades by month and year).
								]]></xsd:documentation>
								<xsd:appinfo>
									<tool:annotation>
										<tool:exports type="com.gemstone.gemfire.cache.PartitionResolver"/>
									</tool:annotation>
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="copies" default="0" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The number of copies for each partition for high-availability. By default, no copies are created meaning there is no
redundancy. Each copy provides extra backup at the expense of extra storages.
						]]></xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:byte">
								<xsd:minInclusive value="0"/>
								<xsd:maxInclusive value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="colocated-with" type="xsd:string" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The name of the partitioned region with which this newly created partitioned region is colocated.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="local-max-memory" type="xsd:positiveInteger" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The maximum amount of memory, in megabytes, to be used by the region in this process. If not set, a default of 90%
of available heap is used.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="total-max-memory" type="xsd:positiveInteger" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The maximum amount of memory, in megabytes, to be used by the region in all process.

Note: This setting must be the same in all processes using the region.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="total-buckets" type="xsd:positiveInteger" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The total number of hash buckets to be used by the region in all processes. 

A bucket is the smallest unit of data management in a partitioned region. Entries are stored in buckets and buckets may
 move from one VM to another. Buckets may also have copies, depending on redundancy to provide high availability in the
  face of VM failure.
The number of buckets should be prime and as a rough guide at the least four times the number of partition VMs. However
, there is significant overhead to managing a bucket, particularly for higher values of redundancy.
 
Note: This setting must be the same in all processes using the region.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="recovery-delay" type="xsd:long" default="-1" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The delay in milliseconds that existing members will wait before satisfying redundancy after another member crashes.
-1 (the default) indicates that redundancy will not be recovered after a failure.
							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="startup-recovery-delay" type="xsd:long" default="-1" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The delay in milliseconds that new members will wait before satisfying redundancy. -1 indicates that adding new members
 will not trigger redundancy recovery. The default is to recover redundancy immediately when a new member is added.
 							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="interestType" abstract="true">
		<xsd:attribute name="durable"  type="xsd:boolean" default="false" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
Indicates whether or not the registered interest is durable or not. Default is false.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="result-policy" default="KEYS_VALUES" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The result policy for this interest. Can be one of 'KEYS' or 'KEYS_VALUES' (the default) or 'NONE'. 

KEYS - Initializes the local cache with the keys satisfying the request.
KEYS-VALUES - initializes the local cache with the keys and current values satisfying the request.
NONE -  Does not initialize the local cache.
					]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="KEYS"/>
					<xsd:enumeration value="KEYS_VALUES"/>
					<xsd:enumeration value="NONE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:element name="client-region">
		<xsd:annotation>
			<xsd:documentation source="org.springframework.data.gemfire.client.ClientRegionFactoryBean"><![CDATA[
Defines a GemFire client region instance. A client region is connected to a (long-lived) farm of GemFire servers from
which it receives its data. The client can hold some data locally or forward all requests to the server.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.gemstone.gemfire.cache.Region" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="readOnlyRegionType">
					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
						<xsd:choice>
							<xsd:element name="key-interest">
								<xsd:annotation>
									<xsd:documentation><![CDATA[
Key based interest. If the key is a List, then all the keys in the List will be registered. The key can also be the 
special token 'ALL_KEYS', which will register interest in all keys in the region. In effect, this will cause an update 
to any key in this region in the CacheServer to be pushed to the client. 
									]]></xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="interestType">
											<xsd:sequence minOccurs="0" maxOccurs="1">
												<xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="skip">
			    									<xsd:annotation>
			         									<xsd:documentation><![CDATA[
Inner bean definition of the client key interest.
														]]></xsd:documentation>
													</xsd:annotation>
			         							</xsd:any>						
											</xsd:sequence>
											<xsd:attribute name="key-ref" type="xsd:string" use="optional">
												<xsd:annotation>
													<xsd:documentation><![CDATA[
The name of the client key interest bean referred by this declaration. Used as a convenience method. If no reference exists, 
use the inner bean declaration.
													]]></xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="regex-interest">
								<xsd:annotation>
									<xsd:documentation><![CDATA[
Regular expression based interest. If the pattern is '.*' then all keys of any type will be pushed to the client. 
									]]></xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:complexContent>
										<xsd:extension base="interestType">
											<xsd:attribute name="pattern" type="xsd:string"/>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:attribute name="data-policy" use="optional" default="NORMAL">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The data policy for this client. Can be either 'EMPTY' or 'NORMAL' (the default). 

EMPTY - causes data to never be stored in local memory. The region will always appear empty. It can be used to for zero
 footprint producers that only want to distribute their data to others and for zero footprint consumers that only want 
 to see events.
NORMAL - causes data that this region is interested in to be stored in local memory. It allows the contents in this 
cache to differ from other caches.  
 							]]></xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="EMPTY"/>
								<xsd:enumeration value="NORMAL"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="pool-name" use="optional" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation><![CDATA[
The name of the pool used by this client. 
 							]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="connectionType">
		<xsd:attribute name="host" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The host name or ip address of the connection.				
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="port">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
The port number of the connection (between 1 and 65535 inclusive).				
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:positiveInteger">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="65535"/>
				</xsd:restriction>
			</xsd:simpleType>			
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:element name="pool">
		<xsd:annotation>
			<xsd:documentation source="org.springframework.data.gemfire.client.PoolFactoryBean"><![CDATA[
Defines a pool for connections from a client to a set of GemFire Cache Servers.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="com.gemstone.gemfire.cache.client.Pool" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="locator" type="connectionType" minOccurs="1" maxOccurs="unbounded"/>
				<xsd:element name="server" type="connectionType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="id" type="xsd:ID" use="optional">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
The name of the pool definition (by default "gemfire-pool").]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="free-connection-timeout" use="optional" type="xsd:int"/>
			<xsd:attribute name="idle-timeout" use="optional" type="xsd:long"/>
			<xsd:attribute name="load-conditioning-interval" use="optional" type="xsd:int"/>
			<xsd:attribute name="max-connections" use="optional" type="xsd:int"/>
			<xsd:attribute name="min-connections" use="optional" type="xsd:int"/>
			<xsd:attribute name="ping-interval" use="optional" type="xsd:long"/>
			<xsd:attribute name="read-timeout" use="optional" type="xsd:int"/>
			<xsd:attribute name="retry-attempts" use="optional" type="xsd:int"/>
			<xsd:attribute name="server-group" use="optional" type="xsd:string"/>
			<xsd:attribute name="socket-buffer-size" use="optional" type="xsd:int"/>
			<xsd:attribute name="statistic-interval" use="optional" type="xsd:int"/>
			<xsd:attribute name="subscription-enabled" use="optional" type="xsd:boolean"/>
			<xsd:attribute name="subscription-message-tracking-timeout" use="optional" type="xsd:int"/>
			<xsd:attribute name="subscription-redundancy" use="optional" type="xsd:int"/>
			<xsd:attribute name="thread-local-connections" use="optional" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>